Repository WFCD/warframe-nexus-query: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, npm dedupe, npx sort-package-json

.lintstagedrc.yml:

"*.js":
  - eslint --cache --fix
package*.json:
  - prettier --write
  - npm dedupe
  - npx sort-package-json
"*.{json,yaml,yml},!package*.json":
  - prettier --write

feat: implement Warframe Market API v2 client with full feature parity
  .mocharc.yml
  index.js
  lib/AttachmentCreator.js
  lib/market/v2/.eslintrc.json
  lib/market/v2/MarketFetcherV2.js
  lib/market/v2/constants.js
  lib/market/v2/index.js
  lib/market/v2/models/Item.js
  lib/market/v2/models/Order.js
  lib/market/v2/models/Summary.js
  lib/market/v2/types.d.ts
  lib/market/v2/utils/cache.js
  lib/market/v2/utils/http.js
  lib/market/v2/utils/i18n.js
  lib/market/v2/utils/statistics.js
  test/attachment-test.mjs
  test/nexus.spec.js
  test/test.js
Due: eslint --cache --fix

docs: update readme
  README.md
Due: none

chore: privatize instead of underscore
  .c8rc.yml
  lib/market/v2/.eslintrc.json
  lib/market/v2/MarketFetcherV2.js
  lib/market/v2/utils/cache.js
  lib/market/v2/utils/http.js
  test/nexus.spec.js
Due: eslint --cache --fix

chore: report more coverage
  .c8rc.yml
  .gitignore
Due: none

chore: c8 configs
  .c8rc.json
  .c8rc.yml
  .npmignore
Due: none

chore: review suggestions
  index.js
  lib/AttachmentCreator.js
  lib/market/v2/MarketFetcherV2.js
  lib/market/v2/utils/cache.js
  test/nexus.spec.js
Due: eslint --cache --fix

fix: orders cache max size
  lib/market/v2/MarketFetcherV2.js
Due: eslint --cache --fix

chore: test manual, flex in constructor
  index.js
  test/nexus.spec.js
Due: eslint --cache --fix

chore: don't try to use v1, delete dead code
  index.js
  lib/market/v1/MarketFetcher.js
  lib/market/v1/summary.js
Due: eslint --cache --fix

chore: don't try to use v1, delete dead code
  lib/AttachmentCreator.js
Due: eslint --cache --fix

fix: tests & bug around platinum
  lib/market/v2/models/Summary.js
  test/nexus.spec.js
Due: eslint --cache --fix

ci: further tests
  test/nexus.spec.js
Due: eslint --cache --fix

ci: strip outdated tests
  test/nexus.spec.js
Due: eslint --cache --fix

ci: coverage maxing
  test/nexus.spec.js
Due: eslint --cache --fix

feat: v2 market api (#206)
  .babelrc.json
  .c8rc.json
  .commitlintrc.mjs
  .eslintignore
  .eslintrc
  .gitignore
  .lintstagedrc.yml
  .mocharc.yml
  .npmignore
  .prettierrc
  .releaserc.json
  README.md
  index.js
  lib/AttachmentCreator.js
  lib/market/v1/MarketFetcher.js
  lib/market/v1/summary.js
  lib/market/v2/.eslintrc.json
  lib/market/v2/MarketFetcherV2.js
  lib/market/v2/constants.js
  lib/market/v2/index.js
  lib/market/v2/models/Item.js
  lib/market/v2/models/Order.js
  lib/market/v2/models/Summary.js
  lib/market/v2/types.d.ts
  lib/market/v2/utils/cache.js
  lib/market/v2/utils/http.js
  lib/market/v2/utils/i18n.js
  lib/market/v2/utils/statistics.js
  package-lock.json
  package.json
  test/attachment-test.mjs
  test/nexus.spec.js
  test/test.js
Due: eslint --cache --fix, prettier --write, npm dedupe, npx sort-package-json

deploy: c52feeacfd9930b063284c251090b66261a99ce9
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  quicksearch.html
Due: none

Notes added by 'git notes add'
  c52feeacfd9930b063284c251090b66261a99ce9
Due: none

ci: trusted publishing
  .github/workflows/release.yaml
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

deploy: 99181eedcaccb404d754bf849a4ced5bc6eed1b9
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  promiseTimeout.js.html
Due: none

Notes added by 'git notes add'
  99181eedcaccb404d754bf849a4ced5bc6eed1b9
Due: none

fix: flat-cache for persistent caching
  .cache/.gitkeep
  .gitignore
  lib/market/v2/MarketFetcherV2.js
  lib/market/v2/models/Item.js
  lib/market/v2/utils/cache.js
  package-lock.json
  package.json
  test/nexus.spec.js
Due: eslint --cache --fix, prettier --write, npm dedupe, npx sort-package-json

deploy: 7a7c0ffd4816dd9913def69d96a264b5ba08013f
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  promiseTimeout.js.html
  quicksearch.html
Due: none

Notes added by 'git notes add'
  7a7c0ffd4816dd9913def69d96a264b5ba08013f
Due: none

deploy: 0592d6acb414e6ed0970cdf7d6b11f96f5910959
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  promiseTimeout.js.html
Due: none

deploy: 6898f0eb9ad6bd5d60a3c30613f0a06180656168
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  promiseTimeout.js.html
Due: none

deploy: 414c5e0dadd52be932a7afd62d235e9bc91daec8
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  promiseTimeout.js.html
Due: none

fix: remove unused dependencies
  index.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write, npm dedupe, npx sort-package-json

fix: remove unused dependencies (#207)
  index.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write, npm dedupe, npx sort-package-json

deploy: 505813ceed74b750bb457a4b268792fdab3e0674
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  promiseTimeout.js.html
Due: none

Notes added by 'git notes add'
  505813ceed74b750bb457a4b268792fdab3e0674
Due: none

deploy: 8d3448435176fbcd2931dc5c9a980b2babeff9e9
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  promiseTimeout.js.html
Due: none

deploy: 331f7dccd64bd39da2a3495b45ad2d58b1c570f5
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  promiseTimeout.js.html
Due: none

deploy: 6318a67ec737b343adfc64e619b188f02f1b68f7
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  promiseTimeout.js.html
Due: none

deploy: 0877ce3003957e5065462a3c379671ac6fdf74a6
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  promiseTimeout.js.html
Due: none

deploy: 54c39bdcdf97e81bc48a55527410f867d8929c54
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  promiseTimeout.js.html
Due: none

deploy: 7257489a01a3a4b52d4c8132bfe85db8fa9a9973
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  promiseTimeout.js.html
Due: none

deploy: 18e248b8964929a019d2f005a146664849a57dec
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  promiseTimeout.js.html
Due: none

deploy: 84906199d30e61a535e9513591d11857334beb5d
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  promiseTimeout.js.html
Due: none

deploy: 9e8d3b73924a98d7396ccb252be1a9a95f834239
  AttachmentCreator.js.html
  OrderUser.html
  Settings.js.html
  classes.list.html
  global.html
  index.html
  market_v2_MarketFetcherV2.js.html
  market_v2_constants.js.html
  market_v2_models_Item.js.html
  market_v2_models_Order.js.html
  market_v2_models_Summary.js.html
  market_v2_utils_cache.js.html
  market_v2_utils_http.js.html
  market_v2_utils_i18n.js.html
  market_v2_utils_statistics.js.html
  module.exports_module.exports.html
  module.html#.exports
  promiseTimeout.js.html
Due: none
